In [51]:
import os
import ujson
import gzip
import pandas as pd
import gc
from surprise import Reader
from surprise import Dataset
from surprise.model_selection import GridSearchCV
from surprise import SVD
from collections import defaultdict
import operator
from surprise.model_selection import KFold
from surprise import accuracy

In [2]:
data = pd.read_pickle("/Users/sidhantarora/work/ALDA/Project/data_nov_8.pkl")

In [3]:
data.columns

Index(['overall', 'reviewerID', 'asin', 'unixReviewTime', 'category',
       'description', 'title', 'also_buy', 'brand', 'feature', 'main_cat',
       'date', 'price', 'review_summary_combined', 'rating_category', 'time'],
      dtype='object')

In [35]:
data.description.iloc[0]

['The videosecu TV mount is a mounting solution for most 22"-47" LCD LED Plasma TV and some LED up to 55" with VESA 600x400mm (24"x16"), 400x400mm (16"x16"),600x300mm(24"x12"), 400x200mm (16"x8"),300x300mm (12"x12"),300x200mm(12"x8"),200x200mm (8"x8"),200x100mm (8"x4") mounting hole pattern .Heavy gauge steel construction provides safety loading up to 66lbs display .It can tilt 15 degree forward or backward and swivel 180 degree. The removable VESA plate can be taken off for easy installation. Post-installation level adjustment allows the TV to perfectly level. The on arm cable management ring system design, guides wires and prevent cable pinching. Standard hardware and user manual included. <br />Notice: This mount fits most 22-47" TVs (VESA 200x200mm (8x8")/200x100mm(8x4")/100x100mm(4x4") without extender, fits VESA 600x400(24x16")/400x400mm(16x16")/600x300mm(24x12")/400x200mm(16x8")/300x300mm(12x12")/300x200mm(12x8")with 4 plate extender), some up to 50 55 inch TVs manufactured in recent 3 years.']

In [36]:
data.feature.iloc[0]

['Fits most 22" to 47" HDTV and some up to 55" LED TV (check VESA and weight)',
 'Fits VESA (mounting hole patterns) 100x100/200x100/200x200mm without extender, and also fits VESA 600x400/400x400/600x300/400x200/300x300/300x200mm with 4 plate extender',
 'Heavy-duty steel construction, loading capacity up to 66 lbs',
 'Adjustable tilt +/-15 degrees, swivel 180 degrees, extends 24" from the wall',
 'VESA plate can be taken off, quick release design for easy installation; Post-installation level adjustment allows the TV to perfectly level']

In [4]:
newData = data[['asin', 'reviewerID', 'overall']].copy()

In [5]:
newData.head(5)

           asin      reviewerID  overall
246  0972683275  A1KECIKIWDB4HH      4.0
247  0972683275  A2MQ47BBL7F6B6      5.0
248  0972683275   ANWW7PT6Z6MHD      5.0
249  0972683275  A2DEU0B3AUINV9      5.0
250  0972683275    AE8R1JSMJYIU      4.0

In [6]:
set(list(newData.overall))

{1.0, 2.0, 3.0, 4.0, 5.0}

In [7]:
newData = newData.rename(columns={'asin': 'itemID', 'reviewerID': 'userID','overall': 'rating' })

In [8]:
newData

             itemID          userID  rating
246      0972683275  A1KECIKIWDB4HH     4.0
247      0972683275  A2MQ47BBL7F6B6     5.0
248      0972683275   ANWW7PT6Z6MHD     5.0
249      0972683275  A2DEU0B3AUINV9     5.0
250      0972683275    AE8R1JSMJYIU     4.0
...             ...             ...     ...
3368220  B01HISA452   AG8SMUXFYGYH8     4.0
3368221  B01HISA452   AB443G89K25H2     5.0
3368222  B01HISA452  A1X6MABURKFRQA     5.0
3368223  B01HISA452  A3NJEEYRMW3FJR     5.0
3368230  B01HIY64XM  A28T6TZRAJF7J5     5.0

[1071586 rows x 3 columns]

In [9]:
reader = Reader(rating_scale=(1, 5))

# Loads Pandas dataframe
surprise_data = Dataset.load_from_df(newData[["userID", "itemID","rating"]], reader)

### Finding the best model

In [10]:
%%time
tuning_parameters = {
    'n_epochs': [5, 10, 20 ], 'lr_all': [0.001, 0.002, 0.005],
    'reg_all': [0.2, 0.4, 0.6]
}
SVD_model = GridSearchCV(SVD, tuning_parameters, measures=["rmse","mae"], cv= 5)

SVD_model.fit(surprise_data)

CPU times: user 1h 5min 35s, sys: 2min 3s, total: 1h 7min 39s
Wall time: 10h 3min 48s

In [45]:
evaluation = pd.DataFrame.from_dict(SVD_model.cv_results)

In [46]:
evaluation

,split0_test_rmse,split1_test_rmse,split2_test_rmse,split3_test_rmse,split4_test_rmse,mean_test_rmse,std_test_rmse,rank_test_rmse,split0_test_mae,split1_test_mae,...,std_test_mae,rank_test_mae,mean_fit_time,std_fit_time,mean_test_time,std_test_time,params,param_n_epochs,param_lr_all,param_reg_all
0,1.236987,1.232424,1.234208,1.234724,1.235913,1.234851,0.001550,25,0.949761,0.947300,...,0.000977,18,13.477587,0.332194,1.581788,0.787205,"{'n_epochs': 5, 'lr_all': 0.001, 'reg_all': 0.2}",5,0.001,0.2
1,1.239317,1.234837,1.236361,1.237090,1.238183,1.237158,0.001532,26,0.954488,0.952192,...,0.000925,25,13.906854,0.727332,1.816025,1.526542,"{'n_epochs': 5, 'lr_all': 0.001, 'reg_all': 0.4}",5,0.001,0.4
2,1.241848,1.237272,1.238606,1.239573,1.240644,1.239589,0.001584,27,0.958509,0.956210,...,0.000905,27,13.261580,0.062280,1.655491,1.200488,"{'n_epochs': 5, 'lr_all': 0.001, 'reg_all': 0.6}",5,0.001,0.6
3,1.231118,1.226968,1.228922,1.228835,1.230185,1.229206,0.001403,18,0.945212,0.943254,...,0.000832,15,13.344432,0.186340,1.767615,1.474384,"{'n_epochs': 5, 'lr_all': 0.002, 'reg_all': 0.2}",5,0.002,0.2
4,1.233899,1.229705,1.231336,1.231836,1.232882,1.231932,0.001421,22,0.950662,0.948636,...,0.000833,23,13.314748,0.136251,1.726158,1.424686,"{'n_epochs': 5, 'lr_all': 0.002, 'reg_all': 0.4}",5,0.002,0.4
5,1.236813,1.232498,1.234026,1.234683,1.235702,1.234745,0.001467,23,0.955170,0.953015,...,0.000809,26,13.288942,0.112221,2.325212,1.633734,"{'n_epochs': 5, 'lr_all': 0.002, 'reg_all': 0.6}",5,0.002,0.6
6,1.223729,1.219868,1.221545,1.221507,1.222787,1.221887,0.001307,9,0.939904,0.938015,...,0.000737,10,13.363988,0.238036,1.774897,1.481649,"{'n_epochs': 5, 'lr_all': 0.005, 'reg_all': 0.2}",5,0.005,0.2
7,1.227037,1.223153,1.224701,1.224995,1.226027,1.225183,0.001307,13,0.945969,0.944069,...,0.000740,16,13.369319,0.082838,1.669669,1.320448,"{'n_epochs': 5, 'lr_all': 0.005, 'reg_all': 0.4}",5,0.005,0.4
8,1.230407,1.226391,1.227671,1.228293,1.229270,1.228406,0.001369,16,0.950833,0.948664,...,0.000798,21,13.229221,0.079921,1.740592,1.463883,"{'n_epochs': 5, 'lr_all': 0.005, 'reg_all': 0.6}",5,0.005,0.6
9,1.231032,1.226787,1.228707,1.228812,1.230241,1.229116,0.001458,17,0.943963,0.941861,...,0.000923,12,24.452202,0.130784,1.834519,1.573918,"{'n_epochs': 10, 'lr_all': 0.001, 'reg_all': 0.2}",10,0.001,0.2
10,1.233908,1.229637,1.231210,1.231767,1.232914,1.231887,0.001461,21,0.949585,0.947548,...,0.000861,19,24.546503,0.087737,1.941438,1.710151,"{'n_epochs': 10, 'lr_all': 0.001, 'reg_all': 0.4}",10,0.001,0.4
11,1.236892,1.232549,1.234012,1.234773,1.235835,1.234812,0.001492,24,0.954175,0.952025,...,0.000847,24,24.560818,0.110804,1.846974,1.499614,"{'n_epochs': 10, 'lr_all': 0.001, 'reg_all': 0.6}",10,0.001,0.6
12,1.225404,1.221378,1.223334,1.223102,1.224598,1.223563,0.001378,11,0.939680,0.937752,...,0.000823,9,24.543896,0.131047,1.857840,1.520545,"{'n_epochs': 10, 'lr_all': 0.002, 'reg_all': 0.2}",10,0.002,0.2
13,1.228778,1.224630,1.226253,1.226612,1.227798,1.226814,0.001411,14,0.945919,0.943935,...,0.000781,17,24.579039,0.129257,1.905459,1.668457,"{'n_epochs': 10, 'lr_all': 0.002, 'reg_all': 0.4}",10,0.002,0.4
14,1.232004,1.227892,1.229285,1.229953,1.230921,1.230011,0.001401,19,0.950792,0.948778,...,0.000737,22,24.616211,0.111624,1.847755,1.581798,"{'n_epochs': 10, 'lr_all': 0.002, 'reg_all': 0.6}",10,0.002,0.6
15,1.214962,1.211346,1.212968,1.212801,1.214194,1.213254,0.001243,4,0.931405,0.929816,...,0.000669,3,24.571700,0.162978,1.893122,1.797955,"{'n_epochs': 10, 'lr_all': 0.005, 'reg_all': 0.2}",10,0.005,0.2
16,1.219789,1.215982,1.217225,1.217554,1.218788,1.217868,0.001312,6,0.938943,0.937148,...,0.000661,7,24.700029,0.190948,1.839186,1.729572,"{'n_epochs': 10, 'lr_all': 0.005, 'reg_all': 0.4}",10,0.005,0.4
17,1.223479,1.219682,1.220643,1.221298,1.222433,1.221507,0.001332,8,0.944202,0.942289,...,0.000687,11,24.547343,0.085333,1.785530,1.458741,"{'n_epochs': 10, 'lr_all': 0.005, 'reg_all': 0.6}",10,0.005,0.6
18,1.225240,1.221185,1.223138,1.223076,1.224598,1.223447,0.001406,10,0.938417,0.936501,...,0.000884,6,46.946448,0.240634,1.881545,1.443323,"{'n_epochs': 20, 'lr_all': 0.001, 'reg_all': 0.2}",20,0.001,0.2
19,1.228729,1.224644,1.226272,1.226632,1.227813,1.226818,0.001393,15,0.944812,0.942882,...,0.000814,13,46.989331,0.229726,1.978616,1.483050,"{'n_epochs': 20, 'lr_all': 0.001, 'reg_all': 0.4}",20,0.001,0.4
20,1.232042,1.227829,1.229249,1.230016,1.231089,1.230045,0.001458,20,0.949745,0.947765,...,0.000790,20,46.646878,0.319770,2.210080,1.563879,"{'n_epochs': 20, 'lr_all': 0.001, 'reg_all': 0.6}",20,0.001,0.6
21,1.217752,1.214185,1.215787,1.215672,1.217149,1.216109,0.001247,5,0.932441,0.930817,...,0.000727,4,46.716679,0.449697,1.609221,0.997388,"{'n_epochs': 20, 'lr_all': 0.002, 'reg_all': 0.2}",20,0.002,0.2
22,1.222212,1.218301,1.219664,1.220067,1.221364,1.220322,0.001360,7,0.939739,0.937924,...,0.000700,8,47.080873,1.106298,8.514324,13.204913,"{'n_epochs': 20, 'lr_all': 0.002, 'reg_all': 0.4}",20,0.002,0.4
23,1.225864,1.221917,1.223085,1.223790,1.224949,1.223921,0.001383,12,0.945002,0.943173,...,0.000664,14,332.801858,570.809760,1.857716,1.109797,"{'n_epochs': 20, 'lr_all': 0.002, 'reg_all': 0.6}",20,0.002,0.6
24,1.200274,1.196760,1.197767,1.197613,1.199835,1.198450,0.001362,1,0.917135,0.915516,...,0.000625,1,5986.337360,3429.586950,192.676142,381.348409,"{'n_epochs': 20, 'lr_all': 0.005, 'reg_all': 0.2}",20,0.005,0.2
25,1.208533,1.204932,1.205771,1.206133,1.207678,1.206610,0.001311,2,0.927868,0.926163,...,0.000589,2,46.871826,0.688783,1.592529,0.874982,"{'n_epochs': 20, 'lr_all': 0.005, 'reg_all': 0.4}",20,0.005,0.4
26,1.213178,1.209401,1.210096,1.210716,1.212150,1.211108,0.001376,3,0.934004,0.932087,...,0.000658,5,47.082325,0.541569,1.621756,0.952141,"{'n_epochs': 20, 'lr_all': 0.005, 'reg_all': 0.6}",20,0.005,0.6

In [11]:
print(SVD_model.best_score["rmse"])
print(SVD_model.best_params["rmse"])

1.1984498132451091
{'n_epochs': 20, 'lr_all': 0.005, 'reg_all': 0.2}

### Testing on Common Data

In [48]:
test_model = SVD(n_epochs =  20, lr_all =  0.005, reg_all = 0.2)

In [52]:
kf = KFold(n_splits=5)

for trainset, testset in kf.split(surprise_data):

    # train and test algorithm.
    test_model .fit(trainset)
    predictions = test_model.test(testset)

    # Compute and print Root Mean Squared Error
    accuracy.rmse(predictions, verbose=True)

RMSE: 1.1943
RMSE: 1.2017
RMSE: 1.2010
RMSE: 1.1969
RMSE: 1.2006

### Using Best Parameters

In [12]:
best = SVD_model.best_estimator['rmse']
best.fit(surprise_data.build_full_trainset())

In [13]:
best.predict("A28T6TZRAJF7J5","B01HIY64XM")

Prediction(uid='A28T6TZRAJF7J5', iid='B01HIY64XM', r_ui=None, est=4.4638176589821885, details={'was_impossible': False})

### Generating Recommendation

In [14]:
#No. of all unique items
all_items = list(set(list(newData.itemID)))
len(all_items)

6576

In [15]:
def get_rating_predictions(user_id):
    
    item_rating = defaultdict(int)
    
    for item in all_items:
        item_rating[item] = best.predict(user_id, item).est
        
    return item_rating

In [16]:
len(set(list(data['reviewerID'])))

815053

In [17]:
len(set(list(data['asin'])))

6576

In [18]:
len(data)

1071586

In [19]:
def reviewed_items(user_id):
    
    items = set()
    
    for idx in range(len(data)):
        if data.iloc[idx]['reviewerID'] == user_id:
            items.add(data.iloc[idx]['asin'])
            
    return items

In [20]:
reviewed_items("A28T6TZRAJF7J5")

{'B01HIY64XM'}

###  Mapping Item id to Product Name

In [21]:
itemID_to_name = defaultdict(str)

for idx in range(len(data)):
    itemID_to_name[data.iloc[idx]['asin']] = data.iloc[idx]['title']

In [22]:
itemID_to_name["0972683275"]

'VideoSecu 24" Long Arm TV Wall Mount Low Profile Articulating Full Motion Cantilever Swing Tilt wall bracket for most 22" to 55" LED LCD TV Monitor Flat Screen VESA 200x200 400x400 up to 600x400mm MAH'

In [37]:
def get_recommendation(user_id):
    item_rating = get_rating_predictions(user_id)
    already_bought = reviewed_items(user_id)
    sorted_items = sorted(item_rating.items(), key=operator.itemgetter(1), reverse = True)
    print(sorted_items[:10])
    
    items_to_suggest = []
    
    #Removing already bought items
    count = 0
    for item in sorted_items:
        
        if count == 10:
            break
        
        item_id = item[0]
        
        if item not in already_bought:
            items_to_suggest.append(itemID_to_name[item[0]])
            count += 1
    
    return items_to_suggest

### Finding a user with more than 5 reviews

In [43]:
for user in data.reviewerID:
    count = len(reviewed_items(user))
    if count >= 5:
        break
        
print(user)

A3AKVALGT4Y02G

####  Items purchased by user A3AKVALGT4Y02G

In [44]:
bought_items = reviewed_items("A3AKVALGT4Y02G")
for i in bought_items:
    print(itemID_to_name[i])

Panasonic KX-TCA60 Hands-Free Headset with Comfort Fit Headband for Use with Cordless Phones
Belkin N300 Pocket WiFi Adapter, 300Mbps Link Rate
Belkin N150 Wireless/WiFi N Router (Latest Generation)
Mediabridge HDMI Cable (10 Feet) Supports 4K@60Hz, High Speed, Hand-Tested, HDMI 2.0 Ready - UHD, 18Gbps, Audio Return Channel
VideoSecu 24" Long Arm TV Wall Mount Low Profile Articulating Full Motion Cantilever Swing Tilt wall bracket for most 22" to 55" LED LCD TV Monitor Flat Screen VESA 200x200 400x400 up to 600x400mm MAH
  PTC Premium Gold Series HDMI hembra/hembra Coupler

In [38]:
get_recommendation("A3AKVALGT4Y02G")

[('B00JHPLUMQ', 4.850044437459997), ('B004ZQIEO4', 4.840560496088436), ('B005B2XMY8', 4.838719446326047), ('B00LV1D0UE', 4.83277433283397), ('B004Z2BK4O', 4.820361287540826), ('B000JQV8FG', 4.81919005577683), ('B017T5NLYU', 4.815183676845506), ('B007PFRCGS', 4.811453938155106), ('B00066HOXY', 4.802800606878478), ('B0009VPFT6', 4.801426487554226)]

['Axiom 3Pack Rechargeable Battery For VTech BT1018, BT1022, BT1011, BT183348, BT18432, BT283348, BT800, BT6010, BT84342, BY0736, CBD8005',
 'Zinwell MS2X4RO-03 2x4 Multi-Switch',
 'AmScope Cordless LED Stereo Microscope 20x-40x-80x',
 'Buteny Car Aux Cable Compatible with iPhone 7/8/X , [Upgraded] 3.5mm Premium Auxiliary Audio Cable Accessories',
 "GLS Audio 50 feet Speaker Cable 12AWG Patch Cords - 50 ft Speakon to Speakon Professional Cables Black Neutrik NL4FX (NL4FC) 12 Gauge Wire - Pro 50' Speak-on Cord 12G - Single",
 'Kingston Technology 2 GB Unbuffered System Specific Memory Model 2 Not a kit (Single) DDR2 667 (PC2 5300) 200-Pin SO-DIMM KTH-ZD8000B/2G',
 'Wireless Earbuds Upgraded Graphene 3D Stereo Sound Bluetooth 5.0 with 28Hr Play Time Noise Cancelling HonShoop Lightweight Bluetooth Headphones Built-in Mic',
 'KnuKonceptz Krystal Kable 2 Channel Twisted Pair OFC RCA Interconnect Cable 6 Feet',
 'StarTech.com Slimline Serial DB9 Gender Changer - M/M',
 'Transcend TS1GCF80 1GB 80x Type I Compact Flash Card']